.ion-content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  flex-direction: column;
}

.title::first-letter {
  text-transform: uppercase;
}

.special-char {
  font-family: Arial, Helvetica, sans-serif;

}


.container-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flex {
  display: flex;
}

.attributes {
  font-family: 'Karla';
  font-weight: bold;
}

.attributes-value {
  font-family: 'Karla';
  font-weight: 300;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

}

.attributes-value ::first-letter {
  text-transform: uppercase;
}

.custom-img {
  max-height: 400px;
}



.custom-progress-bar {
  height: 10px;
  border-radius: 20px;
  transform: rotate(180deg);
}

ion-progress-bar{
  border-radius: 20px;
} 

.custom-card {
  --background: #f0f0f0;
}

.card-info {
  min-height: 100%;
}

.my-card {
  min-height: 100%;
  min-width: 100%;
}


.cursor-pointer{
  cursor: pointer;
}

@media only screen and (max-width: 869px) {

  .mycard {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .arrow-icon {
    display: block;
    transform: rotate(90deg);
  }

}