<ion-content [fullscreen]="true">

    <ion-grid *ngIf="isloading" class="ion-content-centered">
        <h1> Loading
        </h1>
        <ion-spinner name="custom"></ion-spinner>
    </ion-grid>

    <ng-container *ngIf="!isloading">
        <app-navbar></app-navbar>


        <ion-card class="ion-padding-top custom-card">

            <!-- Nome  e geracao -->
            <h1 class="ion-text-center">
                <strong>{{pokemonName}}</strong> <span class="special-char">
                    {{formatGenerationName(pokemonSpecie.generation.name)}} generation</span>
                </h1>
            <!-- text entries e gif -->
            <ion-grid>
                <ion-row class="ion-wrap ion-container">
                    <ion-col class="ion-text-center" size="10">
                        <p class=" description">
                            {{ getTextEnglish(pokemonSpecie.flavor_text_entries) }}
                        </p>
                    </ion-col>
                    <ion-col size="2" class="flex ion-text-center ion-align-items-center ion-justify-content-center">
                        <ion-img class="custom-gif" [src]="pokemon.sprites.other.showdown.front_default"
                            [alt]="pokemon.name"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <!-- imagem pokemon e info basicas -->

            <ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6"
                        class="flex ion-text-center ion-align-items-center ion-justify-content-center">
                        <ion-img class="custom-img" [src]="pokemon.sprites.other['official-artwork'].front_default"
                            [alt]="pokemon.name"></ion-img>
                    </ion-col>

                    <ion-col size="12" size-md="6">
                        <ion-row>
                            <ion-col size="12" size-md="6" size-xl="5">
                                <ion-card class="card-info">
                                    <ion-list lines="none">
                                        <ion-item class="attributes">
                                            <ion-label>#{{ pokemon.id }}</ion-label>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label class="attributes">Height</ion-label>
                                            <ion-label class="attributes-value">{{ (pokemon.height / 10) |
                                                number:'1.01-2' }} m</ion-label>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label class="attributes">Weight</ion-label>
                                            <ion-label class="attributes-value">{{ (pokemon.weight / 10) |
                                                number:'1.01-2' }} kg</ion-label>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label class="attributes">Abilities</ion-label>
                                            <ion-label class="attributes-value">
                                                <div *ngFor="let ability of getAbilities(); let i = index">
                                                    <div  (click)="openModal(ability.ability.name )" class="tag cursor-pointer {{getColorByType(i)}}">
                                                        {{ ability.ability.name }}
                                                    </div>
                                                </div>
                                            </ion-label>
                                        </ion-item>

                                        <ion-item>
                                            <ion-label class="attributes">Type</ion-label>
                                            <ion-label class="attributes-value">
                                                <div *ngFor="let types of getTypes()"
                                                  class="tag {{'bg-color-'+ types.type.name + '-light'}}">
                                                    {{ types.type.name }}
                                                </div>
                                            </ion-label>
                                        </ion-item>

                                    </ion-list>
                                </ion-card>
                            </ion-col>

                            <ion-col size="12" size-md="6" size-xl="7">

                                <ion-card class="card-info">
                                    <ion-card-header>
                                        <ion-card-title>Base stats</ion-card-title>
                                    </ion-card-header>

                                    <ion-card-content>
                                        <div *ngFor="let stat of getStats()">
                                            <p class="attributes-value">{{ stat.stat.name }}: {{ stat.base_stat }}</p>
                                            <ion-progress-bar [buffer]="'.'+calculateProgressBarValue(stat.base_stat)"
                                                class="custom-progress-bar ion-progress-bar-animated {{getColorByType(2)}} ion-progress-bar-striped">
                                                <span>{{ stat.base_stat }}</span>
                                            </ion-progress-bar>
                                        </div>
                                        <p class="attributes-value">
                                            Total: {{this.calculateTotalBaseStats()}}
                                        </p>

                                    </ion-card-content>
                                </ion-card>
                            </ion-col>

                        </ion-row>
                    </ion-col>

                </ion-row>
            </ion-grid>

            <!-- Cadeia de evolução -->

            <ion-row size="12" class="ion-align-items-center ion-justify-content-center mycard">

                <ion-col size="12" class="ion-text-center">
                    <h1>Evolution chain</h1>
                    <p *ngIf="pokemonsEvolution.length ==1">This pokemon does not evolve.</p>
                </ion-col>
                <ion-row *ngIf="pokemonsEvolution.length==0" class="ion-justify-content-center">
                    <ion-spinner name="custom"></ion-spinner>
                </ion-row>

                <ng-container *ngFor="let pokemon of pokemonsEvolution; let i = index">
                    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
                    <div class="container-arrow">
                    <p *ngIf="i < listPokemon.length - 1" class="attributes">Lvl mim: {{ listPokemon[i+1].lvlmim }}
                    </p>
                    <ion-icon *ngIf="i < pokemonsEvolution.length - 1" name="arrow-custom"
                        class="arrow-icon"></ion-icon>
                </div>
                </ng-container>
            </ion-row>

        </ion-card>
    </ng-container>

</ion-content>

