<ion-content>
  <app-navbar></app-navbar>

  <app-filter (typeSelected)="onTypeSeleceted($event)"   (pokemonSelected)="onPokemonSelected($event)" 
  (FavoritesSelected)="onShowFavorites()"></app-filter>


  

  <ion-grid>
    <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
    <ion-row class="ion-justify-content-center ion-padding-horizontal">
      <ion-col size="12" size-md="6" size-xl="4" *ngFor="let pokemon of pokemons">

        <app-pokemon-card (updateFarovitePokemon)="onUpdateFarovitePokemon()" [pokemonFavoritList]="pokemonFavoritList"  [pokemon]="pokemon" ></app-pokemon-card>

      </ion-col>
    </ion-row>
  
  </ion-grid>
  
<ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="10">
      <ion-toolbar color='transparent' class="ion-justify-content-center">
        <ion-buttons slot="start">
          <ion-button (click)="previousPage()" [disabled]="isLoading" [disabled]="offset < limit"
            class="custom-button">Anterior</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="nextPage()" [disabled]="isLoading" [disabled]="hasMorePokemons()"
            class="custom-button">Próximo</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row> 



</ion-content>